---
import { Image } from 'astro:assets';
import Cell1 from '../assets/your-kaya/cell-1.jpg';
import Cell2 from '../assets/your-kaya/cell-2.jpg';
import Cell3 from '../assets/your-kaya/cell-3.jpg';
import Cell4 from '../assets/your-kaya/cell-4.jpg';
import Cell5 from '../assets/your-kaya/cell-5.jpg';
import Cell6 from '../assets/your-kaya/cell-6.jpg';
import Cell7 from '../assets/your-kaya/cell-7.jpg';
import Cell8 from '../assets/your-kaya/cell-8.mp4';
---

<section
  class="mx-auto py-32 grid grid-cols-2 lg:grid-cols-4 w-fit gap-x-8 gap-y-3"
>
  <Image
    src={Cell1}
    alt="Cell number 1"
    widths={[412]}
    sizes="412px"
    class="w-32 md:w-52 xl:w-60 border border-black aspect-[2160/2700] object-cover"
  />
  <Image
    src={Cell2}
    alt="Cell number 2"
    widths={[412]}
    sizes="412px"
    class="w-32 md:w-52 xl:w-60 border border-black aspect-[2160/2700] object-cover"
  />
  <Image
    src={Cell3}
    alt="Cell number 3"
    widths={[412]}
    sizes="412px"
    class="w-32 md:w-52 xl:w-60 border border-black aspect-[2160/2700] object-cover"
  />
  <Image
    src={Cell4}
    alt="Cell number 4"
    widths={[412]}
    sizes="412px"
    class="w-32 md:w-52 xl:w-60 border border-black aspect-[2160/2700] object-cover"
  />
  <Image
    src={Cell5}
    alt="Cell number 5"
    widths={[412]}
    sizes="412px"
    class="w-32 md:w-52 xl:w-60 border border-black aspect-[2160/2700] object-cover"
  />
  <Image
    src={Cell6}
    alt="Cell number 6"
    widths={[412]}
    sizes="412px"
    class="w-32 md:w-52 xl:w-60 border border-black aspect-[2160/2700] object-cover"
  />
  <Image
    src={Cell7}
    alt="Cell number 7"
    widths={[412]}
    sizes="412px"
    class="w-32 md:w-52 xl:w-60 border border-black aspect-[2160/2700] object-cover"
  />
  <video
    src={Cell8}
    muted
    autoplay
    loop
    class="w-32 md:w-52 xl:w-60 border border-black aspect-[2160/2700] object-cover"
  ></video>
</section>
